<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.tbd.forkfront">

	<uses-sdk/>

	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application>
	<activity
		android:name="com.tbd.forkfront.ForkFront"
		android:exported="true" > <!-- optional: copy any intent-filters if you need them here --> </activity>
	</application>
</manifest>
