on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install required packages
        run: sudo apt-get update && sudo apt-get install -y gcc-multilib bison flex
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
           java-version: '21'
           distribution: 'temurin'
      - name: Setup Android SDK           
        uses: android-actions/setup-android@v3        
        with:
          cmdline-tools-version: 9123335
          packages: 'platforms;android-34 ndk;29.0.14206865'
      - name: Configure path to NDK
        run: sed -i -e 's,NDK = .*,NDK = /usr/local/lib/android/sdk/ndk/29.0.14206865,g' sys/android/Makefile.src
      - name: Build native libraries (arm64-v8a)
        run: cd sys/android && sh ./setup.sh && cd ../.. && make clean && make install
      - name: Build APK with Gradle
        run: cd sys/android && ./gradlew assembleRelease assembleDebug
      - uses: actions/upload-artifact@v5
        with:
          name: nethack-release
          path: sys/android/app/build/outputs/apk/release/*.apk
      - uses: actions/upload-artifact@v5
        with:
          name: nethack-debug
          path: sys/android/app/build/outputs/apk/debug/*.apk 
